<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <app-notify-list
        [options] = "{defaultTimeout: 15, notifiesPosition: NotifyWindowPosition.TOPRIGHT}"
    ></app-notify-list>
</div>
<div style="text-align: center; width: 60%; margin: 0px auto;">
    <button (click)="testNotify(NotifyWindowPosition.TOPLEFT)" >Top Left</button>
    <button (click)="testNotify(NotifyWindowPosition.TOPCENTER)" >Top Center</button>
    <button (click)="testNotify(NotifyWindowPosition.TOPRIGHT)" >Top Right</button>
    <br>
    <button (click)="testNotify(NotifyWindowPosition.CENTERLEFT)" >Center Left</button>
    <button (click)="testNotify(NotifyWindowPosition.CENTER)" >Center Center</button>
    <button (click)="testNotify(NotifyWindowPosition.CENTERRIGHT)" >Center Right</button>
    <br>
    <button (click)="testNotify(NotifyWindowPosition.BOTTOMLEFT)" >Bottom Left</button>
    <button (click)="testNotify(NotifyWindowPosition.BOTTOMCENTER)" >Bottom Center</button>
    <button (click)="testNotify(NotifyWindowPosition.BOTTOMRIGHT)" >Bottom Right</button>
    <div>
        <a href="//angular.dron2004.ru/notify.html">documentation</a>
        <a href="//bitbacket.org/">bitbacket.org</a>
        <a href="//bitbacket.org/">github.com</a>

    </div>
</div>
