.notify-list {
    border: none;
    width: auto;
    position: fixed;
}
.top {
    top: 0px;
}
.bottom {
    bottom: 0px;
}
.left {
    left: 0px;
}
.right {
    right: 0px;
}
.centerX {
    left: 40%;
}
.centerY {
    top: 40%;
}