<div [class]="listPosClass" >
    <div *ngFor="let notify of notifyList">
        <app-notify
                [notify]="notify"
                (closeNotify)="remove($event)"
                [listPosition]="listPosition"
        ></app-notify>
    </div>
</div>