<div class="notify-container transition"
     [ngClass] = "[getTypeClassName(),getAnimationClass(),getTextPositionClass()]"
     [class.show] = "show"
     (click) = "onClick($event)"
>
    <div class="notify-text" [innerHTML]="text"></div>
</div>