.notify-container {
    display: block;
    width: 200px;
    position: relative;
    margin: 1rem;
    color: #FFFFFF;
    padding: 15px;

    border-radius: 5px;

    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.26);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.26);
}
.notify-container.bg-primary {background-color: #007bff;}
.notify-container.bg-secondary {background-color: #868e96;}
.notify-container.bg-success {background-color: #28a745;}
.notify-container.bg-danger {background-color: #dc3545;}
.notify-container.bg-warning {background-color: #ffc107;}
.notify-container.bg-info {background-color: #17a2b8;}
.notify-container.bg-dark {background-color: #343a40;}
.notify-container.bg-light, .notify-container.bg-light a {background-color: #f8f9fa;color: #000!important;}

.notify-container .notify-text {
    text-align: center;
}
.notify-container.text-left .notify-text {
    text-align: left;
}
.notify-container.text-center .notify-text {
    text-align: center;
}
.transition {
    -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}

.fade {opacity: 0;}
.fade.show {opacity: 1;}
.fromLeft {left: -200%;}
.fromLeft.show {left: 0px;}
.fromRight {right: -200%;}
.fromRight.show {right: 0px;}
.fromTop {margin-top: -100%; opacity: 0}
.fromTop.show {margin-top: 15px; opacity: 1}
.fromDown {bottom: -100%; opacity: 0}
.fromDown.show {bottom: 15px; opacity: 1}